<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<meta name="description" content="Augmented mapping of time and space" />
<meta name="keywords" content="cesium,time,space,data" />
<title>roa junrei</title>
<script src="/static/Cesium/Cesium.js"></script>
<script src="/static/junrei.js"></script>  
<style>
@import url(/static/Cesium/Widgets/widgets.css);
@import url(/static/junrei.css);
</style>
</head>
<body onload='initClient("{{csrf_token}}")'>
<div id="viewer" onkeypress="canvasKey()"></div>
<div class="backdrop" id="credits">
</div>
<div class="backdrop" id="menu">
<div id="header"><img src="acidsoftware.gif"/></div>
<div id="log"></div>
</div>
<script src="/static/CesiumStage.js"></script>  
<script src="/static/ThreeStage.js"></script>  
</body>
</html>
